@import "../../styles/variables";

h2 {
  color: whitesmoke;
  font-size: 5rem;
  line-height: 3.5rem;
  text-align: center;
  margin: 2rem 1rem;
}

.container {
  display: flex;
  justify-content: center;
  .userList {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    max-width: 800px;
    padding: 0 0;
  }
  
  .userList-item {
    width: 200px;
    background: linear-gradient(
      0deg,
      rgba(180, 180, 180, 1) 0%,
      rgba(255, 255, 255, 1) 32%
    );
    margin: 10px 10px;
    text-align: center;
    padding: 40px 40px;
    border-radius: 20px;
    &__img {
      border-radius: 100px;
    }
    &__name {
      font-weight: 600;
      font-size: 1.2rem;
    }
  }
}


