<header class="shadow">
  <nav>
    <a
      ><picture>
        <source
          srcset="./styles/images/logo-mv.svg"
          media="(max-width: 350px)"
        />
        <img
          src="../../assets/images/logo.svg"
          alt="logo"
          height="60px"
        /> </picture
    ></a>
    <input type="checkbox" name="" class="checkBtn" />
    <ol>
      <a href="#"><li>Shop</li></a>
      <a href="#"><li>About</li></a>
      <a href="#"><li>Blog</li></a>
      <button>Log in</button>
    </ol>
  </nav>
</header>
