@import "../../styles/variables";
@import "../../styles/mixins";

header {
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
      right: 0;
      left: 0;
      background-color: $pink;
    nav {
      width: 80%;
      height: 70px;
      margin: 0 auto;
      @include center;
      justify-content: space-between;

      .checkBtn {
        display: none;
      }

      ol {
        list-style: none;
        padding-top: 1.2rem;
        @include center;
        a {
          text-decoration: none;
          font-size: 0.8rem;
          font-family: $primaryfont;
          font-weight: 500;
          color: $orange;
          margin: 0.3rem;
          padding: 0.4rem 1.2rem;
          &:hover {
            color: $orange !important;
            border-bottom: solid 1px $green;
          }
        }

        button {
          font-size: 0.8rem;
          font-family: $primaryfont;
          font-weight: 500;
          color: $pink;
          padding: 0.4rem 1.2rem;
          background-color: $orange;
          border: none;
          margin: 0.3rem;
          border-radius: 20px;
          border: solid 1px $orange;
          &:hover {
            background-color: transparent;
            color: $orange;
            border: solid 1px $orange;
            transition: background 0.3s linear;
          }
        }
      }
    }
  }
